/* 头部 */
header {
    width: 0;
    height: 45px;
    font-size: 35px;
    line-height: 45px;
    color: red;
    margin: 0 auto;
    overflow: hidden;
    animation: print 6s 0.6s linear forwards;
    text-shadow: 2px 2px 2px gray;
}

.mp3 {
    width: 300px;
    margin: 15px auto;
}

.mp3 span {
    display: block;
    font-size: 21px;
    margin: 15px auto;
}

/* 头部动画 */
@keyframes print {
    0% {
        width: 0;
    }

    100% {
        width: 470px;
    }
}

/* 子网页导航栏 */

nav {
    height: 80px;
    margin-top: 40px;
}

nav .box {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    padding-left: 130px;
}

nav .box ul li {
    float: left;
    margin: 10px 40px;
    position: relative;
    width: 130px;
    height: 60px;
    transform-style: preserve-3d;
    transition: all .6s;
    font-weight: 700;
}

nav .box ul li:hover {
    transform: rotateX(90deg);
}

nav .box ul li .later a {
    text-decoration: none;
}

ul li div:nth-child(n) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 17px;
    color: red;
    text-align: center;
    line-height: 60px;
    border: 2px solid red;
}

li .former {
    background-color: skyblue;
    transform: translateZ(30px);
}

li .later {
    background-color: yellowgreen;
    transform: translateY(50%) rotateX(-90deg);
}

/* 主体介绍 */
.title {
    width: 900px;
    height: 80px;
    border: 2px dotted red;
    margin: 30px auto;
}

h2 {
    margin: 0 auto;
    font-size: 24px;
    color: red;
    text-shadow: 2px 2px 20px gray;
    text-align: center;
    line-height: 80px;
}

h3 {
    display: block;
    width: 160px;
    height: 60px;
    margin: 60px auto;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    border: 2px solid bisque;
    border-radius: 30px;
    color: yellowgreen;

    text-shadow: 2px 2px 2px pink;
}

/* 旋转图标 */
section {
    width: 200px;
    height: 200px;
    margin: 60px auto;
    transform-style: preserve-3d;
    animation: move 6s 3s linear infinite;
}

section:hover {
    animation-play-state: paused;
}

section div:nth-child(n) {
    border: 3px solid skyblue;
    position: absolute;
    top: 0;
    left: 0;
}

section img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

.img6 {
    transform: translateZ(350px);
}

.img5 {
    transform: rotateY(72deg) translateZ(350px);
}

.img4 {
    transform: rotateY(-72deg) translateZ(350px);
}

.img3 {
    transform: rotateY(144deg) translateZ(350px);
}

.img2 {
    transform: rotateY(-144deg) translateZ(350px);
}

@keyframes move {
    from {}

    to {
        transform: rotateY(360deg);
    }
}

/* 场景图展示 */
.scene {
    width: 700px;
    margin: 0 auto;
}

/* 浮动清除 */
.scene::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.scene ul li {
    float: left;
    width: 320px;
    border: 3px solid red;
    margin-right: 45px;
    margin-top: 30px;
    overflow: hidden;
}

.scene ul li:nth-child(2n) {
    margin-right: 0;
}

.scene ul li img {
    transition: all .6s;
    width: 100%;
    height: 200px;
    vertical-align: middle;
}

.scene ul li img:hover {
    transform: scale(1.2);
}

/* 精美图片*/
.pic {
    width: 560px;
    margin: 0 auto;
    margin-top: 80px;
}

.pic ul li {
    position: relative;
    width: 550px;
    height: 340px;
    overflow: hidden;
    margin-top: 30px;
}

.pic ul li div:nth-child(n) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pic ul li [class^="last"] {
    transition: all 2s;
}

.pic ul li:hover .last1 {
    transform: translateY(-340px);
}

.pic ul li:hover .last2 {
    transform: translateY(340px);
}

.pic ul li:hover .last3 {
    transform: translateX(-550px);
}

.pic ul li:hover .last4 {
    transform: translateX(550px);
}

.pic ul li img {
    width: 550px;
    height: 340px;
}

.pic::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 游戏简介 */
.state {
    width: 600px;
    margin: 0 auto;
}

span {
    color: red;
    font-size: 18px;
}

.state .url {
    margin: 30px 0;
}

.state .url img {
    width: 600px;
}

.spin {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.spin ul {
    height: 300px;
    width: 2355px;
    animation: spin 12s 1s linear infinite alternate;
}

@keyframes spin {
    100% {
        transform: translateX(-1780px);
    }

}

.spin ul:hover {
    animation-play-state: paused;
}

.spin ul li {
    float: left;
    height: 100%;
    margin: 10px 0;
    margin-right: 20px;
    overflow: hidden;
}

.spin ul li img {
    transition: all .6s;
    width: 450px;
    height: 300px;
}

.spin ul li:hover img {
    transform: scale(1.2);
}

/* 页脚区 */
footer {
    margin-top: 100px;
    height: 350px;
}

footer .words {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.words .ewm {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.words .ewm img {
    width: 66px;
    vertical-align: middle;
}

.words .report {
    position: absolute;
    bottom: 15px;
    right: 145px;
    width: 120px;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.467);
    text-align: center;
    line-height: 35px;
}

.words .report a {
    text-decoration: none;
    color: #fff;
}

/* 侧边栏 */
aside {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(-486px, -160px);
    width: 120px;
    background-color: red;
}

aside ul li {
    transition: all .6s;
    padding-left: 15px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: 2px solid pink;
    margin-top: -2px;
}

aside ul li:hover {
    background-color: #fff;
}

aside ul li a {
    font-size: 14px;
    transition: all .6s;
    text-decoration: none;
    color: #fff;
}

aside ul li:hover a {
    color: red;
    font-size: 17px;
}

/* 角色定位 */
aside .man1 {
    position: absolute;
    top: -80px;
}

aside .man2 {
    position: absolute;
    bottom: -75px;
}

aside .man3 {
    position: absolute;
    top: 35%;
    right: -75px;
}

aside img:hover {
    transform: scale(1.3);
}

header,
nav,
article,
footer,
aside {
    cursor: url(坎公/gz.png), auto;
}